* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
a{
    text-decoration: none;
}
div.wrapper{
    width: 70%;
    margin: 0 auto;
}
nav.nav-menu{
    background: black;
    height: 80px;
    display: flex;
}
.flex-nav {
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-around;
}
nav.nav-menu ul{
    display: flex;
    list-style: none;
    margin-left: 30%;
}
nav.nav-menu ul li{
    margin: 0 4px;
}
nav.nav-menu ul li a:hover{
    background: black;
    color: white;
    border: 1px solid white;
}
nav.nav-menu ul li a{
    color: black;
    background: white;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 6px 12px;
    border: 1px solid white;
}

nav.nav-menu button{
    font-family: Tahoma , sans-serif;
    background: rgba(0, 176, 0, 0.9);
    padding: 6px 12px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(0, 176, 0, 0.9);
}
nav.nav-menu button:hover{
    background: rgba(255, 255, 255, 0.9);
    color: rgba(0, 176, 0, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.9);
}
#logo a{
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Brush Script MT', cursive;
    font-size: 2em;
}
#register-button{
    font-family: Tahoma , sans-serif;
    background: rgba(0, 191, 255, 0.9);
    padding: 6px 12px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(0, 191, 255, 0.9);
}
#register-button:hover{
    color: rgba(0, 191, 255, 0.9);
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.9);
}
#log-form{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
}
#log-form form{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    padding: 12px 24px;
    min-height: 300px;
    justify-content: center;
    background: gray;
    align-items: center;
}
#log-form form input{
    background: white;
    padding: 4px 6px;
    border-radius: 2px;
    min-width: 60px;
    min-height: 14px;
    margin: 8px 0 24px 0;
}
#log-form form h3{
    font-size: 1.2em;
    margin-bottom: 29px;
}
#log-form form button{
    background: rgba(0, 176, 0, 0.9);
    color: black;
    padding: 6px 8px;
    max-width: 70px;
    border-radius: 2px;
}
#log-form form button:hover{
    background: rgba(0, 129, 0, 1);
}
#log-form form button:active{
    background: rgba(0, 176, 0, 0.9);
}