<th:block xmlns:th="http://www.thymeleaf.org">
    <nav class="nav-menu">
        <div class="wrapper flex-nav">
            <h1 id="logo"><a href="#">DEMO</a> </h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <th:block th:if="${session.user} == null">
                <button onclick="openLogInForm()">Log in</button>
                <a id="register-button" href="#">Register</a>
            </th:block>
            <th:block th:if="${session.user} != null">
                <form th:action="@{/home/logout}" method="POST">
                    <button>Log out</button>
                </form>
                <a id="logout-button" href="/shoppingcart">Cart</a>
            </th:block>
        </div>
    </nav>
    <div id="log-form">
        <form th:action="@{/home/login}" th:method="POST">
            <button id="close-button" onclick="closeLogInForm()">X</button>
            <h3>Log in</h3>
            <label for="username">Username</label>
            <input id="username" name="loginUsername" type="text" placeholder="Username..">
            <label for="password">Password</label>
            <input id="password" name="loginPassword" type="password" placeholder="Password..">

            <button type="submit">Log in</button>
        </form>
    </div>
</th:block>