<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Home page</h1>
    <a th:href="@{/home/shoppingcart}">Shopping Cart</a>
    <th:block th:if="${hasError}">
        <p th:text="${error}"></p>
    </th:block>
    <h3>Categories</h3>
    <dl>
        <th:block th:each="category : ${categories}">
            <dt th:text="${category.getName()}"></dt>
            <dd th:text="${category.getDescription()}"></dd>
        </th:block>
    </dl>
    <form th:action="@{/home/categories/add}" th:method="POST">
        <input type="text" name="cat_name" placeholder="Category name.." required>
        <input type="text" name="cat_desc" placeholder="Category description..">
        <button type="submit">Add category</button>
    </form>
    <h3>Manufacturers</h3>
    <dl>
        <th:block th:each="manufacturer : ${manufacturers}">
            <dt th:text="${manufacturer.getName()}"></dt>
            <dd th:text="${manufacturer.getAddress()}"></dd>
        </th:block>
    </dl>
    <form th:action="@{/home/manufacturer/add}" th:method="POST">
        <input type="text" name="manu_name" placeholder="Manufacturer name.." required>
        <input type="text" name="manu_desc" placeholder="Manufacturer address..">
        <button type="submit">Add manufacturer</button>
    </form>
    <th:block th:if="${session.user != null}">
        <h5 th:text="${session.user.getUsername()}"></h5>
        <a th:href="@{/home/user/logout}">Log out</a>
    </th:block>
    <th:block th:if="${session.user == null}">
        <h3>Log in form</h3>
        <form th:action="@{/home/user/login}" th:method="POST">
            <input type="text" name="user_username_login" placeholder="Username.." required>
            <input type="password" name="user_password_login" placeholder="Password.." required>
            <button type="submit">Log in</button>
        </form>
        <h3>Register</h3>
        <form th:action="@{/home/user/register}" th:method="POST">
            <input type="text" name="user_username_register" placeholder="Username..">
            <input type="text" name="user_name_register" placeholder="Name..">
            <input type="text" name="user_surname_register" placeholder="Surname..">
            <input type="password" name="user_password_register" placeholder="Password..">
            <input type="password" name="user_rePassword_register" placeholder="Repeat password..">
            <button type="submit">Register</button>
        </form>
    </th:block>
    <table border="5" >
        <thead>
            <tr>
                <td>Name</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Category</td>
                <td>Manufacturer</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.getName()}">test</td>
                <td th:text="${product.getQuantity()}">tes</td>
                <td th:text="${product.getPrice()}">test</td>
                <td th:text="${product.getCategory().getName()}">test</td>
                <td th:text="${product.getManufacturer().getName()}">test</td>
                <td>
                    <a th:href="@{/home/{id} (id=${product.getId()})}">Edit</a>
                    <form th:action="@{/home/product/delete/{id} (id=${product.getId()})}" th:method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    <th:block th:if="${session.user != null}">
                        <form th:action="@{/home/shoppingcart/add/{id} (id=${product.getId()})}" th:method="POST">
                            <button type="submit">Add</button>
                        </form>
                    </th:block>
                </td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/home/product/add}" th:method="POST">
        <input type="text" name="product_name" placeholder="Product name.."
               th:value="${product != null} ? ${product.getName()} : '' ">
        <input type="number" name="product_quantity" placeholder="Product quantity.."
               th:value="${product != null} ? ${product.getQuantity()} : '' ">
        <input type="number" name="product_price" placeholder="Product price.."
               th:value="${product != null} ? ${product.getPrice()} : '' ">
        <select name="product_category">
            <option th:if="${product != null}"
                    th:selected="${product.getCategory() !=null && product.getCategory().getId() == category.getId()}"
                    th:each="category : ${categories}"
                    th:text="${category.getName()}"
                    th:value="${category.getId()}">
            </option>
           <option th:if="${product == null}"
                   th:each="category : ${categories}"
                   th:text="${category.getName()}"
                   th:value="${category.getId()}">
           </option>
        </select>
        <select name="product_manufacturer">
            <option th:if="${product != null}"
                    th:selected="${product.getManufacturer() != null && product.getManufacturer().getId() == manufacturer.getId()}"
                    th:each="manufacturer : ${manufacturers}"
                    th:text="${manufacturer.getName()}"
                    th:value="${manufacturer.getId()}">
            </option>
            <option th:if="${product == null}"
                    th:each="manufacturer : ${manufacturers}"
                    th:text="${manufacturer.getName()}"
                    th:value="${manufacturer.getId()}">
            </option>
        </select>
        <button th:if="${product == null}" type="submit">Add product</button>
        <button th:if="${product != null}" type="submit">Edit product</button>
    </form>

</body>
</html>